* {
    font-family: fantasy;
}

.row { 
    font-family: fantasy;
    /* background: url("../images/img.jpg"); */
    background-color:transparent;

}
html {
    background: url("../images/img.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    text-align: center;
    width: 960px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5em;
    color: red;
    text-decoration: underline;
    font-weight: 900;
    text-shadow: 2px 2px 8px black;
    margin: 10px auto;
}

#timer-display {
    margin: 10px auto;
    font-family: monospace;
    font-size: 20px;
}

.start {
    color: blue;
    background-color: white;
    border: 2px outset blue;
    padding: 5px 15px;
    margin: 10px auto;
}

.question-block {
    display: none;
    /* width: 960px; */
    text-align: left;
    background-color: rgb(82, 135, 235);
    /* border: 2px double burlywood; */
    padding: 10px;
}

.question {
    margin: 10px auto;
    font-weight: bold;
}

.ul {
    list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-position: outside;
}

.li {
    padding-left: 20px;
}

.done {
    display: none;
    border: 2px outset red;
    padding: 5px 15px;
    margin: 10px auto;
}

.results {
    font-size: 20px;
    display: none;
}

#correct, #incorrect, #unanswered {
    margin: 10px auto;

}

.reset {
    display: none;
    color: blue;
    background-color: white;
    border: 2px outset blue;
    border-radius: 2px;
    padding: 5px 15px;
    margin: 10px auto;

}